body {
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1614450770660-6ee6ef27e9e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #ddd;
  background-color: #f0f5f1;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

h4 {
  color: #0b0b66;
  font-family: 'Lucida Sans Regular';
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
